# This is a clean, secure sshd_config template for WSL2 (Ubuntu)
# Copy this to /etc/ssh/sshd_config and restart the ssh service:
# sudo cp /home/eiat/.dotfiles/wezterm/sshd_config /etc/ssh/sshd_config
# sudo service ssh restart

Port 2222
ListenAddress 0.0.0.0

PubkeyAuthentication yes
AuthorizedKeysFile      .ssh/authorized_keys

PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no

UsePAM yes

AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding yes
X11UseLocalhost yes
PermitTTY yes
PrintMotd no
TCPKeepAlive yes

AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
